.cloud-1 {
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  max-height: 90px;
}

.top-nav-child {
  background-color: rgba(81, 199, 145, 0.2);
}

/*  */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  max-width: 150px;
}

.add-device-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
  max-width: 120px;
  border: 2px solid #ffffff;
  border-radius: 10px 10px 10px 10px;
  background-color: #999999;
  cursor: pointer;
}

.add-device-icon {
  flex: 1;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
}

.add-device-img {
  margin: 5px;
  max-width: 100%;
  max-height: 100%;
  min-width: 30px;
}

.add-device-label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 65px;
  margin-right: 10px;
}

.ad-label-content {
  flex: 1;
  margin: 5px;
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
}
/*  */

.lightsettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.lightsettings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 65px;
}

.lightsettings-wrapper > input {
  text-align: center;
  background: none;
  border-radius: 10px;
  height: 60px;
  border:none;
  max-width: 120px;
  color: #ffffff;
  font-size: 25px;
}

/*  */
.motion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex: 3;
}

.motion-detect-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #999999;
  flex: 1;
  margin: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px 10px 10px 10px;
  max-width: 500px;
  height: 65px;
}

.motion-detect-label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
}

.md-label-content {
  color: #ffffff;
  text-align: left;
  font-weight: 600;
  font-size: 25px;
}
/*  */
